<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>アンチドーピング</title>

        <!-- BootstrapのCSS読み込み -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- jQuery読み込み -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

            <script src="https://unpkg.com/popper.js"></script>

    </head>

    <body>
        {% block topPage %}
        {% endblock %}
    </body>
</html>




